<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jboss.reddeer.junit.before.test">
      <client
            class="org.jboss.reddeer.junit.test.integration.runner.IBeforeTestImpl">
      </client>
   </extension>
   <extension
         point="org.jboss.reddeer.junit.after.test">
      <client
            class="org.jboss.reddeer.junit.test.integration.runner.IAfterTestImpl">
      </client>
   </extension>
</plugin>
