<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2017 Red Hat, Inc and others.
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        Red Hat, Inc - initial API and implementation
 -->

<plugin>
   	<extension point="org.eclipse.ui.views">
   		<category 
           id="org.eclipse.reddeer.uiforms.test.ui.category"
           name="RedDeer Test UI Forms">
        </category>
    	<view id="org.eclipse.reddeer.uiforms.test.ui.views.FormView"
        	name="UI Form Test"
        	category="org.eclipse.reddeer.uiforms.test.ui.category"
        	class="org.eclipse.reddeer.uiforms.test.ui.views.FormView" />
	</extension>
</plugin>