<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
      point="org.eclipse.ui.perspectiveExtensions"> 
    <perspectiveExtension 
        targetID="org.eclipse.jdt.ui.JavaPerspective">
      <view
	  id="org.jboss.reddeer.spy.view.RedDeerSpyView"
	  minimized="false"
	  relationship="stack"
	  relative="org.eclipse.jdt.ui.SourceView">
      </view>
    </perspectiveExtension> 
  </extension> 
</plugin>
