<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2017 Red Hat, Inc and others.
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        Red Hat, Inc - initial API and implementation
 -->

<plugin>
   <extension point="org.eclipse.reddeer.junit.requirement">
	   <requirement class="org.eclipse.reddeer.requirements.autobuilding.AutoBuildingRequirement"/>
	   <requirement class="org.eclipse.reddeer.requirements.browser.InternalBrowserRequirement"/>
	   <requirement class="org.eclipse.reddeer.requirements.cleanworkspace.CleanWorkspaceRequirement"/>
	   <requirement class="org.eclipse.reddeer.requirements.closeeditors.CloseAllEditorsRequirement"/>
	   <requirement class="org.eclipse.reddeer.requirements.db.DatabaseRequirement"/>
	   <requirement class="org.eclipse.reddeer.requirements.jre.JRERequirement"/>
	   <requirement class="org.eclipse.reddeer.requirements.openperspective.OpenPerspectiveRequirement"/>
	   <requirement class="org.eclipse.reddeer.requirements.preferences.OomphRecorderRequirement"/>
	   <requirement class="org.eclipse.reddeer.requirements.property.PropertyRequirement"/>
	   <requirement class="org.eclipse.reddeer.requirements.securestorage.SecureStorageRequirement"/>
	   <requirement class="org.eclipse.reddeer.requirements.server.apache.tomcat.ApacheTomcatServerRequirement"/>
   </extension>
</plugin>
