<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2017 Red Hat, Inc and others.
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        Red Hat, Inc - initial API and implementation
 -->

<plugin>
   	<extension point="org.eclipse.ui.views">
   		<category 
           id="org.eclipse.reddeer.workbench.test.ui.category"
           name="RedDeer Test Workbench">
        </category>
    	<view id="org.eclipse.reddeer.workbench.test.ui.views.labelview"
        	name="Workbench Test"
        	category="org.eclipse.reddeer.workbench.test.ui.category"
        	class="org.eclipse.reddeer.workbench.test.ui.views.LabelView" />
    	<view id="org.eclipse.reddeer.workbench.test.ui.views.dirtylabelview"
        	name="Workbench Dirty Test"
        	category="org.eclipse.reddeer.workbench.test.ui.category"
        	class="org.eclipse.reddeer.workbench.test.ui.views.DirtyLabelView" />
	</extension>
	<extension
         point="org.eclipse.ui.editors">
      <editor
            name="Simple Editor"
            extensions="min"
            class="org.eclipse.reddeer.workbench.test.ui.editor.SimpleEditor"
            id="org.eclipse.reddeer.workbench.test.ui.editor.SimpleEditor">
      </editor>
   </extension>
   <extension
     point="org.eclipse.ui.editors">
  <editor
        name="Custom Content Assist"
        extensions="ca"
        class="org.eclipse.reddeer.workbench.test.editor.EditorWithCustomContentAssist"
        id="org.eclipse.reddeer.workbench.test.editor.EditorWithCustomContentAssist">
  </editor>
</extension>
</plugin>