<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   	<extension point="org.eclipse.ui.views">
   		<category 
           id="org.jboss.reddeer.workbench.test.ui.category"
           name="Red Deer Test Workbench">
        </category>
    	<view id="org.jboss.reddeer.workbench.test.ui.views.labelview"
        	name="Workbench Test"
        	category="org.jboss.reddeer.workbench.test.ui.category"
        	class="org.jboss.reddeer.workbench.test.ui.views.LabelView" />
    	<view id="org.jboss.reddeer.workbench.test.ui.views.dirtylabelview"
        	name="Workbench Dirty Test"
        	category="org.jboss.reddeer.workbench.test.ui.category"
        	class="org.jboss.reddeer.workbench.test.ui.views.DirtyLabelView" />
	</extension>
	<extension
         point="org.eclipse.ui.editors">
      <editor
            name="Simple Editor"
            extensions="min"
            class="org.jboss.reddeer.workbench.test.ui.editor.SimpleEditor"
            id="org.jboss.reddeer.workbench.test.ui.editor.SimpleEditor">
      </editor>
   </extension>
</plugin>