<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jboss.reddeer.swt.test.swtcat"
            name="RedDeer SWT">
      </category>
      <view
            category="org.jboss.reddeer.swt.test.swtcat"
            class="org.jboss.reddeer.swt.test.prereq.PrereqView"
            id="org.jboss.reddeer.swt.test.swtview"
            name="RedDeer SWT"
            restorable="true">
      </view>
      <view
            category="org.jboss.reddeer.swt.test.swtcat"
            class="org.jboss.reddeer.swt.test.ui.views.SWTControlsView"
            id="org.jboss.reddeer.swt.test.swtview.controls"
            name="RedDeer SWT Controls"
            restorable="true">
      </view>
   </extension>
   <extension
         id="org.jboss.reddeer.swt.test.commands"
         name="RedDeer SWT Commands"
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.jboss.reddeer.swt.test.commands.category"
            description="RedDeer SWT Test Command"
            id="org.jboss.reddeer.swt.test.command.testCommand"
            name="Test Command">
      </command>
      <category
            id="org.jboss.reddeer.swt.test.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="org.jboss.reddeer.swt.test.commands.category"
            id="org.jboss.reddeer.swt.test.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jboss.reddeer.swt.test.handler.TestHandler"
            commandId="org.jboss.reddeer.swt.test.command.testCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.jboss.reddeer.swt.test.swtview">
         <command
               commandId="org.jboss.reddeer.swt.test.command.testCommand"
               icon="icons/sample.gif"
               label="Test"
               mnemonic="RedDeer SWT ViewToolItem"
               style="push"
               tooltip="RedDeer SWT ViewToolItem">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.jboss.reddeer.swt.test.toolbars.sampleToolbar">
            <command
                  commandId="org.jboss.reddeer.swt.test.command.testCommand"
                  icon="icons/sample.gif"
                  id="org.jboss.reddeer.swt.test.toolbars.sampleCommand"
                  mnemonic="RedDeer SWT WorkbenchToolItem"
                  tooltip="RedDeer SWT WorkbenchToolItem">
            </command>
            <command
                  commandId="org.jboss.reddeer.swt.test.command.testCommand"
                  icon="icons/sample.gif"
                  id="org.jboss.reddeer.swt.test.toolbars.sampleCommand"
                  mnemonic="RedDeer SWT Workbench&amp;ToolItem with mnemonic"
                  tooltip="RedDeer SWT Workbench&amp;ToolItem with mnemonic">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   	<extension point="org.eclipse.ui.views">
   		<category 
           id="org.jboss.reddeer.swt.test.ui.category"
           name="Red Deer Test SWT">
        </category>
    	<view id="org.jboss.reddeer.swt.test.ui.views.customview"
        	name="Custom View"
        	category="org.jboss.reddeer.swt.test.ui.category"
        	class="org.jboss.reddeer.swt.test.ui.views.CustomView" />
	</extension>
    <extension
          id="org.jboss.reddeer.swt.test.editors"
          point="org.eclipse.ui.editors">
             <editor name="Toolbar Editor" extensions="tlb" icon="icons/sample.gif" class="org.jboss.reddeer.swt.test.ui.editor.ToolBarEditor" id="org.jboss.reddeer.swt.test.editors.toolbarEditor">   </editor>
    </extension>
    
<!-- Editor toolbar test extensions -->
<extension point="org.eclipse.ui.actionSets">
      <actionSet
             id="org.jboss.reddeer.swt.test.ui.actionset"
             label="HQL"
             visible="false">
          <action
                allowLabelUpdate="true"
                icon="icons/images/execute.gif"
                id="org.jboss.reddeer.swt.test.ui.editor.ToolbarTestAction"
                definitionId="org.hibernate.eclipse.console.actions.ExecuteHQLActionCommand"
                label="Run Query"
                retarget="true"
                tooltip="Run HQL Query from current editor">
         </action>
       </actionSet>
</extension>       
    <extension
      point="org.eclipse.ui.commands">
   <command
         categoryId="org.eclipse.ui.category.edit"
         id="org.hibernate.eclipse.console.actions.ExecuteHQLActionCommand"
         name="Run Query command"/>
         
</extension>    


</plugin>
