html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

#header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.inner {
  display: block;
  position: relative;
  width: 940px;
  margin: 0 auto;
}

#header_h1 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 72px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  letter-spacing: -1px;
}

#header_h2 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.3;
  color: #9ddcff;
  letter-spacing: 0;
}

#navigation {
  padding: 10px;
  font-size: 2.2em;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 190px;
  z-index: 2;
  background: #fafafa;
}

#menu_wrapper {
  border: none;
  padding: 10px;
  font-size: 1.8em;
  margin-left: 1em;
  top: 220px;
  width: 20%;
  position: fixed;
  z-index: 2;
}

#content_frame {
  border: none;
  overflow: hidden;
  width: 690px;
}

#content-wrapper {
  padding-top: 30px;
  border-top: solid 1px #fff;
  position: absolute;
  width: 100%;
  top: 220px;
}

#main-content {
  width: 690px;
  float: left;
  height: 100vh;
}

#sidebar {
  float: right;
  width: 200px;
  min-height: 504px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  line-height: 1.3;
  background: transparent url(../images/sidebar-bg.jpg) 0 0 no-repeat;
}

a {
  background-color: transparent;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

h2 {
  margin: 0.61em 0;
  fonti-size: 1.6em;	
}

h3 {
  margin: 0.55em 0;
  fonti-size: 1.3em;	
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #3b3b3b;
  background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
}

p {
  margin: 0.7em;
}

a {
  color: #2879d0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #2268b2;
}

object {
  width: 100%;
  height: 100%;
}

a.bounced {
  padding-left: 1.2em;
  font-size: larger;
}

a.side_button {
}

a.side_button {
  height: 58px;
  padding-top: 22px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  color: #fff;
  display: block;
  width: 138px;
  padding-left: 64px;
  margin-bottom: 20px;
  font-size: 21px;
  background: transparent url(../images/download-button.png) 0 0 no-repeat;
}

a.side_button small {
  display: block;
  font-size: 11px;
  text-decoration: none;
}

#github_button small {
  display: block;
  font-size: 11px;
  text-decoration: none;
}

#github_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  background: transparent url(../images/github-button.png) 0 0 no-repeat;
}

code {
  font-family: "Courier New", Courier, monospace;
  background: #e8e8e8;
  font-size: 13px;
  margin: 1.7em;
  padding: 0.7em 1.1em 0.7em 1.1em;
}

pre {
  padding: 20px;
  overflow: auto;
  text-shadow: none;
  border: solid 1px #f2f2f2;
}

footer {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 40px;
  font-size: 13px;
  color: #aaa;
  background: transparent url('../images/hr.png') 0 0 no-repeat;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}
