<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension point="org.eclipse.ui.newWizards">
   	  <category id="org.jboss.reddeer.jface.test.wizard.category.new" name="Testing new category"></category> 
      <wizard 
          id="org.jboss.reddeer.jface.test.wizard.TestingNewWizard" 
          name="Testing new wizard" 
          category="org.jboss.reddeer.jface.test.wizard.category.new" 
          class="org.jboss.reddeer.jface.test.wizard.TestingNewWizard"> 
          <selection class="org.eclipse.core.resources.IResource"/>          
      </wizard> 
   </extension>
   
   <extension point="org.eclipse.ui.importWizards">
   	  <category id="org.jboss.reddeer.jface.test.wizard.category.import" name="Testing import category"></category> 
      <wizard 
          id="org.jboss.reddeer.jface.test.wizard.TestingImportWizard" 
          name="Testing import wizard" 
          category="org.jboss.reddeer.jface.test.wizard.category.import" 
          class="org.jboss.reddeer.jface.test.wizard.TestingImportWizard"> 
          <selection class="org.eclipse.core.resources.IResource"/>          
      </wizard> 
   </extension>
   
    <extension point="org.eclipse.ui.exportWizards">
   	  <category id="org.jboss.reddeer.jface.test.wizard.category.export" name="Testing export category"></category> 
      <wizard 
          id="org.jboss.reddeer.jface.test.wizard.TestingExportWizard" 
          name="Testing export wizard" 
          category="org.jboss.reddeer.jface.test.wizard.category.export" 
          class="org.jboss.reddeer.jface.test.wizard.TestingExportWizard"> 
          <selection class="org.eclipse.core.resources.IResource"/>          
      </wizard> 
   </extension>
</plugin>
