<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="RedDeer Tools"
            id="org.jboss.reddeer.tools">
      </category>
      <view
            name="RedDeer Code Generator"
            icon="icons/reddeer_icon.png"
            category="org.jboss.reddeer.tools"
            class="org.jboss.reddeer.generator.views.CodeGeneratorView"
            id="org.jboss.reddeer.generator.views.CodeGeneratorView">
      </view>
   </extension>

</plugin>
