<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.views">
      <view
            name="RedDeer Spy view"
            category="org.jboss.reddeer.spy"
            class="org.jboss.reddeer.spy.view.RedDeerSpyView"
            id="org.jboss.reddeer.spy.view.RedDeerSpyView"
            icon="resources/reddeer_icon.png">
      </view>
   </extension>
</plugin>