name: Build

on:
  pull_request:
    branches: [master]

env:
  SWT_GTK3: "0"

jobs:
  test:
    runs-on: ${{ matrix.os }} # compiles and test on Ubuntu

    strategy:
      matrix:
        os: [ubuntu-latest]
        java: ["11", "17"]
      fail-fast: false

    steps:
    - name: Checkout PR branch
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: 0

    # Java JDK 11 and 17 used for maven build
    - name: Setup Java ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
        java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
        architecture: x64

    # Try to find and apply jbosstools cache
    - name: Cache local Maven repository for RedDeer components
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: reddeer-${{ runner.java }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          reddeer-${{ runner.java }}-maven-

#     - name: Install WebKit on linux
#       if: matrix.os == 'ubuntu-latest'
#       run: |
#         sudo apt-get update -y
#         sudo apt-get install libwebkit2gtk-4.0-37

#     - name: Echo SWT_GTK3 Env. variable
#       run: echo "SWT_GTK3 is set to '${SWT_GTK3}'"

    # Build and compile using Maven
    - name: Build and compile
      run: mvn clean install -DskipTests=true -B

    # Run Test Maven
#     - name: Run unit tests
#       uses: GabrielBB/xvfb-action@v1
#       with:
#         run: mvn verify -U -fae -Dmaven.test.error.ignore=true -Dmaven.test.failure.ignore=true

    # Archive artifacts to be applied in Publish Reports workflow
#     - name: Archiving test artifacts
#       uses: actions/upload-artifact@v2
#       with: 
#         name: ${{ matrix.os }}-test-reports
#         path: |
#           *tests/*/target/surefire-reports/
#           */*tests/*/target/surefire-reports/
#           **/*.log
#           **/*.png
